/* 

    The CSS Styles for the calendar.html page.

*/

/* 
    Sets the Styles for the event types.
*/

/* The first day of school event is green. */
.calendarFirstDay {
    width: 100%;
    padding: 5px;
    background-color: greenyellow;
    display: block;
    text-align: center;
    max-width: none;
    cursor: pointer;
}

/* Set the size of the table p to a width of 100% */
table p {
    width: 100%;
}

/* Set the table headers to orange. */
table th {
    background-color: orange;
    color: white;
}

/* Set all calendarEvents to have a width of 100% and a display of block. */
.calendarEvents {
    width: 100%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    max-width: none;
}

/* When the event is a holiday, set it to orange. */
.calendarHoliday {
    width: 100%;
    padding: 5px;
    background-color: orange;
    display: block;
    text-align: center;
    max-width: none;
    cursor: pointer;
}

/* When the event is a teacher professional day, set it to blue. */
.calendarTeachProf {
    width: 100%;
    padding: 5px;
    background-color: rgb(50, 132, 255);
    display: block;
    text-align: center;
    max-width: none;
    cursor: pointer;
    color: white;
}

/* When the tevent is the last day of school, set it to red. */
.calendarLastDay {
    width: 100%;
    padding: 5px;
    background-color: red;
    display: block;
    text-align: center;
    max-width: none;
    cursor: pointer;
}

main>p {
    text-align: center;
}

/* Set the link under the table to orange. */
main>p>a {
    color: orange;
}

main>p>a:hover {
    color: rgb(218, 143, 4);
}

h1 {
    text-align: center;
}