/* 

    The index style sheet to style the index.

*/

main section#sliderSection {
    background-color: rgb(207, 207, 207);
    width: 100%;
}

div#slider {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

header>img {
    width: 100%;
    margin-bottom: -4px;
}

section.content {
    width: 70%;
    margin: auto;
    max-width: 900px;
}

section.content p {
    text-indent: 1em;
}

article{
    display: flex;
    flex-flow: row wrap;
}

section.content{
    flex: 1 1 auto;
}

article aside{
    flex: 1 1 initial;
}


@media only screen and (max-width: 600px) {
    #slider {
        width: 100%;
    }

    section.content {
        width: 100%;
        margin: 10px;
    }
}

@media only screen and (min-width: 700px) {
    #slider {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    header>img {
        width: 60%;
    }
}

